/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff3e1;
    font-family: 'Poppins';
    color: #3b2314;
}

/* ---------- HEADER --------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

.nav-left, .nav-right {
    padding: 0 120px;
    display: flex;
    gap: 106px;
}

header a {
    text-decoration: none;
    font-family: 'Chewy';
    color: #64382B;
    font-size: 28px;
    font-weight: 400;
    margin: 0 15 px;
}

.logo img {
    height: 137px;
}

/* ---------- HERO HOME --------- */
.hero {

    padding: 40px 120px;
    position: relative;
    margin-bottom: 60px;
}

.hero h1 {
    position: relative;
    text-align: center;
    margin-top: 60px;
    font-size: 120px;
    color: #ff6ec7;
    font-family: 'Coiny';
    font-size: 300px;
    line-height: 1;
    letter-spacing: 5px;
    line-height: 0.3;
}

.hero h2 {
    font-size: 60px;
    color: #6b3f1d;
    font-family: 'Coiny';
    margin-left: 20px;
    margin-top: 40px;
    font-size: 125px;
    line-height: 1;

}

.hero p {
    color: #fff;
    text-shadow: 1px 1px 2px #6b3f1d;
    font-family: 'Chewy';
    font-size: 95px;
    margin-left: 40px;
    line-height: 0.5;
    margin-bottom: 60px;
}

.hero button {
    font-size: 36px;
    font-family: 'Chewy', sans-serif;
    position: 120px;
    padding: 10px 30px;
    background-color: #ff6ec7;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 22%;

}

.donuts img {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-10%);
    width: 580px;
    pointer-events: none;
    z-index: 1;
}

/* ---------- ABOUT --------- */

.about-page {
    padding: 60px 200px;
    font-family: 'Poppins', sans-serif;
    color: #64382B;
    line-height: 1.7;
}

.about-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.about-block .text {
    flex: 1 1 50%;
    min-width: 300px;
    border: 1px dashed red;
}

.about-block .image {
    flex: 1 1;
    display: flex;
    min-width: 400px;
    border: 1px dashed blue;
}

.about-block h1 {
    font-size: 32px;
    font-family: 'Chewy';
    color: #7B4F38;
    margin-bottom: 10px;
}

.about-block h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
}

.about-block p {
    font-size: 16px;
    margin-bottom: 16px;
}

.about-block strong {
    font-weight: 700;
}

.photo {
    width: 100%;
    max-width: 400px;
}

.tilt-right {
    transform: rotate(3deg);
}

.tilt-left {
    transform: rotate(-3deg);
}

.about-end {
    text-align: center;
    margin-top: 10px;
}

.about-end p {
    margin-bottom: 16px;
    font-size: 17px;
}

/* ---------- CONTACT --------- */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

/*left side*/
.contact {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.contact-info {
    flex: 1;
    max-width: 600px;
}

.contact-info h1 {
    font-size: 2.5rem;
    font-family: 'Coiny';
    margin-bottom: 15px;
    font-weight: 700;
    color: #7B4F38;
}

.contact-info h2 {
    font-size: 1.25rem;
    margin-bottom: 25px;
    color: #7B4F38;
}

.contact-info p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.contact-details {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.detail {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-size: 0.95;
}

.detail img {
    width: 30px;
    height: 30px;
}

/*right side form*/

.contact-form {
    flex: 1;
    background-color: #ff6ec7;
    padding: 40px;
    border-radius: 20px;
    color: #fff;
}

.contact-form h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    font-size: 1rem;
}

form button {
  background-color: #5c3b1e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #3e2814;
}

/* ---------- FOOTER --------- */

.container {
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.all-rights {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: px;
    padding-left: 120px;

}

.footer-logo {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
}

.final-message-footer {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    
}

footer {
    background-color: #4c2b1e;
    color: #fff;
    font-family: 'Poppins';
    font-size: 10px;
    padding-bottom: 25px;
}

.footer-logo img {
    height: 65px;
}

.social a img {
    height: 40px;
    margin: 0 20px;
    justify-content: space-between;
    gap: 20px;
}
